.input-wrapper {
    margin-bottom: 16px;
}

.label {
    font-size: 16px;
    color: black;
    margin: 0px;
    margin-bottom: 6px;
}

.input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
}